@(places: List[Place], numRows: Int, numColumns: Int)
@import helper._
@import helper.twitterBootstrap._



@main("Grid"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/grid.css")">
}{
@for(r <- 0 until numRows){
    <div class="row">
        @for(c <- 0 until numColumns){
            @if(numColumns * r + c < places.length){
                <div class="col-md-4">
                    <a class="thumbnail" href="@routes.Application.details(places(numColumns * r + c))">
                        <img src="@routes.Application.getPictureOfPlace(places(numColumns * r + c).id)">
                    </a>
                </div>
            }
        }
    </div>
}
}