@(places: List[Place])
@import helper._
@import helper.twitterBootstrap._



@main("List"){
    <table class="table table-striped">
        <thead>
            <th>Place ID</th>
            <th>Filename</th>
            <th>Content type</th>
            <th>Preview</th>
        </thead>

        <tbody>
            @for(currentPlace <- places) {
                <tr>
                    <td><a href="/place/@currentPlace">@currentPlace.id</a></td>
                    <td><a href="/place/@currentPlace">@currentPlace.name</a></td>
                    <td><a href="/place/@currentPlace">@currentPlace.contentType</a></td>
                    <td><a href="/place/@currentPlace"><img style="height: 50px" src="/get-picture-of-place/@currentPlace.id" /></a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-primary" href="/add-place">Add place</a>
}