@(place: Place)
@import helper._


@main("Show Place"){
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/showPlace.css")">
}{
    <script>
        function del(urlToDelete) {
            $.ajax({
                url: urlToDelete,
                type: 'DELETE',
                success: function(results) {
                    location = '/';
                }
            });
        }
    </script>

<div id="place-details">
    <div id="left-div" class="pull-left">
        <h4>Name</h4>
        <p>@place.getName()</p>

        <h4>Country</h4>
        <p>@place.getCountry()</p>

        <h4>Description</h4>
        <p>@place.getDescription()</p>

        <div class="pull-right">
            <a class="btn btn-default" href="@routes.Application.editForm(place)">Edit</a>
            <a class="btn btn-danger" onclick="javascript:del('@routes.Application.deletePlace(place.getId())')">Delete</a>
        </div>
    </div>


    @if(place.getPicture() != null){
        <div id="right-div" class="pull-right">
            <h4>Current picture</h4>
            <img src="/get-picture-of-place/@place.getId()" />
        </div>
    }
</div>
}

